
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #666666;
}
.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 15px;
}
.content__body {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
}
.item {
  max-width: 200px;
  margin: 5px;
  border: 1px solid #888;
  box-shadow: 3px 3px 5px #999999;
}
.item__img {
  padding: 5px;
  width: 100%;
}
.phone-photo {
  width: 100%;
  object-fit: cover;
}
.item__description-img {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.item__description {
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.item__description-img {
  transition: all 0.5s;
}
.item__description-img:hover {
  transform: scale(1.2);
}
.item__price {
  font-weight: 700;
}
.item__title {
  font-size: 22px;
  font-weight: 700;
  text-align: center;
}
.content__pages {
  display: flex;
  padding: 10px;
  justify-content: center;
  flex-wrap: wrap;
}
.content__pages-btn {
  width: 30px;
  height: 22px;
  cursor: pointer;
  margin: 2px;
  background-color: #999999;
  border: 1px solid #111;
  text-align: center;
}
.content__pages-btn.active {
  background-color: #222;
  border: 1px solid #fff;
  color: #fff;
}
.content__pages-btn:hover {
  background-color: #777;
}
/* ---------------------------top+cart--------------------------------- */
.top {
  display: flex;
  justify-content: end;
  margin: 20px 0;
}
.cart__btn {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}
.cart__open {
  cursor: pointer;
  width: 30px;
  height: 30px;
  transition: all 0.3s;
}
.cart__open:hover {
  transform: scale(1.2);
}
.cart__img {
  width: 100%;
  object-fit: cover;
}
.cart__price {
  font-size: 16px;
  font-weight: 700;
  padding: 0 5px;
}
.cart__popup {
  position: relative;
  overflow: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
  overscroll-behavior: contain;
  background-color: #202020;
  width: 300px;
  height: 500px;
  color: #f0f0f0;
  z-index: 5;
  position: fixed;
  top: 20px;
  right: 0;
  text-align: center;
  animation: fade 0.5s;
}
.cart__popup-close {
  cursor: pointer;
  position: absolute;
  top: 15px;
  left: 15px;
  transition: all 0.3s;
}
.cart__popup-close:hover {
  transform: scale(1.1);
}
@keyframes fade {
  0% {
      transform: translateX(100%);
  }
  100% {
      transform: none;
  }
}
.hide {
  display: none;
  visibility: none;
}
.cart__popup-overlay {
  position: relative;
  overflow: hidden;
  display: inline-block;
  content: "";
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background: rgba(0, 0, 0, 0.5);
}
.scrolling {
  height: 100vh;
  overflow: hidden;
}


